<ion-header>
  <ion-toolbar>
    <ul class="listMenu" >
      <ion-buttons slot="start">
        <li><ion-back-button></ion-back-button></li>
        <li><ion-button (click)="onClick('main')"  >Home</ion-button></li>
        <li><ion-button  (click)="onClick('page1')"  >Articles</ion-button></li>
        <li><ion-button  (click)="onClick('particles')" disabled="true" >Articles Persistés</ion-button></li>
      </ion-buttons>
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section >
    <h4>Bienvenue sur la page d'Articles Persistés</h4>
  </section>
  <div class="container">
  <div *ngFor="let article of articles">
    <div ngClass="list">
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{article.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{article.title}}
      </a>

      <div class="collapse" id="collapseExample{{article.id}}">
        <div class="card card-body">
          {{article.body}}
          <button type="button" class="btn btn-link" (click)="onArticleClick(article)">voir plus</button>
        </div>
      </div>
    </div>
    </div>
  </div>


</ion-content>


