
<ion-header>
  <ion-toolbar>
    <ion-button  (click)="onClick()" >Home</ion-button>
    <ion-button  disabled >page1</ion-button>
  </ion-toolbar></ion-header>
<ion-content>
  <section >
    <h4>Bienvenue sur la page 1</h4>
  </section>

  <h1 *ngIf="toShow">
    Je dois m'afficher
  </h1>

  <h1 *ngIf="messageDsiplay">
    On n'a pas acces a internet frérot !!!
  </h1>

  <div *ngFor="let article of articles">
    <div class="container" (click)="onArticleClick(article)">
    <h3><a>{{article.title}}</a></h3>
    <p>{{article.body}}</p>
    <br />
    </div>
  </div>


</ion-content>


